<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-xl p-8 space-y-8 bg-white rounded-lg shadow-md">
        <div class="flex flex-col items-center">
            <img src="../logo.png" alt="Logo" class="w-56 h-56">
            <p class="mt-4 text-xl text-center">Organize e gerencie todos os seus equipamentos em um só lugar, de forma
                simples e rápida!</p>
        </div>
        <h2
            class="mt-4 text-2xl font-bold text-center relative after:content-[''] after:block after:w-16 after:h-[2px] after:bg-[#60A5FA] after:mt-2 after:mx-auto">
            ENTRAR
        </h2>

        <div class="flex items-center justify-center">
            <button id="google-login"
                class="px-4 py-2 font-medium text-white bg-red-500 border border-transparent rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                Entrar com Google
            </button>
        </div>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
<script>
    const firebaseConfig = {
        apiKey: "AIzaSyBVERv2LlgSzWFDrMxXwQZSFFYQ67O8wK8",
        authDomain: "guiequip.firebaseapp.com",
        projectId: "guiequip",
        storageBucket: "guiequip.firebasestorage.app",
        messagingSenderId: "290039052781",
        appId: "1:290039052781:web:369a391d1d8d87b2d08fe4"
    };

    firebase.initializeApp(firebaseConfig);

    const auth = firebase.auth();

    const provider = new firebase.auth.GoogleAuthProvider();

    document.getElementById('google-login').addEventListener('click', function () {
        auth.signInWithPopup(provider)
            .then((result) => {
                result.user.getIdToken().then((token) => {
                    fetch('/auth/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ token })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = '/departamentos';
                        } else {
                            alert('Erro ao fazer login com o Google.');
                        }
                    })
                    .catch((error) => {
                        console.error('Erro ao fazer login com o Google:', error);
                        alert('Erro ao fazer login com o Google.');
                    });
                });
            })
            .catch((error) => {
                console.error('Erro ao fazer login com o Google:', error);
                alert('Erro ao fazer login com o Google.');
            });
    });
</script>